<% @posts.each do |post| %>
<div id="post-<%= post.id %>" class="post">
  <div class="post-meta">
    <%= l post.created_at, :full %>
  </div><!-- .post-meta -->
  <h2 class="post-title">
    <a href="<%= url "/post/#{post.slug}/" %>"><%= h post.title %></a>
  </h2>
</div><!-- #post-<%= post.id %>.post -->
<% end %>
