<%
fb_params = {
  :href => url_for("/post/#{@post.slug}/"),
  :layout => "button_count",
  :action => "like"
}
%>
<div id="post-<%= @post.id %>" class="post">
  <div class="post-meta">
    <%= @post.created_at.strftime "%d/%m/%Y - %H:%M" %>
    <div class="social">
      <iframe src="//platform.twitter.com/widgets/tweet_button.html?count=none" allowtransparency="true" frameborder="0" scrolling="no" width="56"></iframe>
      <iframe src="//www.facebook.com/plugins/like.php?<%= fb_params.to_param %>" scrolling="no" frameborder="0" allowTransparency="true" width="300"></iframe>
    </div>
  </div><!-- .post-meta -->
  <h2 class="post-title">
    <a href="/post/<%= @post.slug %>"><%= h @post.title %></a>
  </h2>
  <div class="post-content text">
    <%= print_markdown(@post.content) %>
  </div><!-- .post-content -->

  <!-- disqus plugin -->
  <div id="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_shortname = 'lenon';
  var disqus_identifier = '<%= @post.id %>';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <!-- /disqus plugin -->

</div><!-- #post-<%= @post.id %>.post -->
