<%
fb_params = {
  :href => url_for("/post/#{@post.slug}/"),
  :layout => "button_count",
  :action => "like"
}
%>
<div id="post-<%= @post.id %>" class="post">
  <div class="post-meta">
    <%= @post.created_at.strftime "%d/%m/%Y - %H:%M" %>
    <iframe src="//platform.twitter.com/widgets/tweet_button.html?count=horizontal" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
    <iframe src="//www.facebook.com/plugins/like.php?<%= fb_params.to_param %>" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  </div><!-- .post-meta -->
  <h2 class="post-title">
    <a href="/post/<%= @post.slug %>"><%= h @post.title %></a>
  </h2>
  <div class="post-content text">
    <%= print_markdown(@post.content) %>
  </div><!-- .post-content -->

  <!-- fb social plugin -->
  <script>(function(a,b,c){var d=a.getElementsByTagName(b)[0];if(!a.getElementById(c))a=a.createElement(b),a.id=c,a.src="//connect.facebook.net/en_US/all.js#xfbml=1",d.parentNode.insertBefore(a,d)})(document,"script","facebook-jssdk");</script>
  <div class="fb-comments" data-href="<%= fb_params[:href] %>" data-width="680"></div>
  <!-- /fb social plugin -->

</div><!-- #post-<%= @post.id %>.post -->
