<h2>All posts</h2>

<%= partial :flash %>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td>
                <a href="http://<%= post.domain %>/post/<%= post.slug %>"><%= h post.title %></a>
            </td>
            <td class="fit-content"><%= post.created_at %></td>
            <td class="fit-content"><%= post.updated_at %></td>
            <td class="fit-content">
                <a href="/admin/edit-post/<%= post.id %>" class="btn btn-primary btn-sm">edit</a>
                <a href="/admin/delete-post/<%= post.id %>" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
        <% end %>
        <% if @posts.length == 0 %>
        <tr>
            <td colspan="4">No posts created yet.</td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>

