<h1 class="page-title">Dashboard</h1>
<table class="zebra-striped">
  <tbody>
    <% Post.all.each do |post| %>
    <tr>
      <td><a href="http://<%= post.domain %>/post/<%= post.slug %>"><%= h post.title %></a></td>
      <td class="action"><a href="/admin/edit-post/<%= post.id %>">edit</a></td>
      <td class="action"><a href="/admin/delete-post/<%= post.id %>">delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<a href="/admin/new-post">New post</a>
