<div class="input">
  <label for="post-title">Title</label>
  <input id="post-title" name="post[title]" type="text" value="<%= h @post.title %>"/>
</div>
<div class="input">
  <label for="post-content">Content (markdown)</label>
  <textarea id="post-content" name="post[content]"><%= h @post.content %></textarea>
</div>
<div class="input">
  <label for="post-domain">Domain</label>
  <select id="post-domain" name="post[domain]">
    <% Settings.domains.each do |k, v| %>
      <option value="<%= h k %>" <%= "selected" if @post.domain == k %>><%= h k %></option>
    <% end %>
  </select>
</div>
<div class="submit">
  <input value="Save" type="submit"/>
</div>
